extends layout

block content
    p This page explores the domain property. Those links below takes you the a copy of the server, but through a subdomain.
    | Depending if the Domain property is set or not, the cookie will be bind only the the current domain or to all subdomains.
    include components/subdomainLinks.pug
    - var liveCookieOption = true 
    - var displayDomainOption = true   
    - var htmlClass = "simpleCookie"
    - var path = htmlClass
    include components/sessionForm.pug
    br
    - var htmlClass = "sessionAndPermanentCookie"
    - var path = htmlClass
    include components/permanentForm.pug