extends layout

block content
    p In This example we test the secure property of cookies
    br
    - var displaySecureOption = true 
    - var liveCookieOption = true   
    p Here, you can switch the protocol of the request to use http or https
    include components/httpsIndicator.pug

    p Combining that with the secure parameter, sent when the checkbox is marked and you click a radio button, we can
    | see how a cookie behaves when it is secure. Sending a secure cookie through https will make it not visible through http.
    - var htmlClass = "simpleCookie"
    - var path = htmlClass
    include components/sessionForm.pug
    br
    - var htmlClass = "sessionAndPermanentCookie"
    - var path = htmlClass
    include components/permanentForm.pug