extends layout

block content
    p In this example, the value of the cookie is demonstrated in the text below the form, using javascript. 
    p Note that when you mark the Http Only and send the cookie, selecting a radio button, the cookie value is gone.
    - var displayHttpOption = true
    - var liveCookieOption = true    
    
    - var htmlClass = "simpleCookie"
    - var path = htmlClass
    include components/sessionForm.pug
    br
    - var htmlClass = "sessionAndPermanentCookie"
    - var path = htmlClass
    include components/permanentForm.pug