extends layout

block content
  p Welcome to #{title} - Cookie examples
  a(href='/simpleCookie') Simple Cookie Example
  br
  a(href='/sessionAndPermanentCookie') Permanent and Session Cookies
  br
  a(href='/httpOnlyCookie') Http Only Cookie
  br
  a(href='/secureCookie') Secure Cookie
  br
  a(href='/domainCookie') Domain Cookie
  br
