extends layout

block content
    p This form generates a simple cookie. 
    p Selecting a button and reloading the page should keep the form button selected.
    script(src="/javascripts/simpleCookieForm.js")
    - htmlClass="simpleCookie"
    - path="simpleCookie"
    include components/sessionForm.pug